@import "vars.less";
@import "/../icons/faVars.less";
@import "/../icons/variables.less";
@import "colours.less";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

// Admin Bar

body.admin-bar {
	//padding-top: @barHeight;
	#wpadminbar {
		* {
			.sans;
			user-select: none;
		}
		.sans;
		#wp-admin-bar-search {
			.dNI;
		}
		.noticon {
	    font-family: "Noticons" !important;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		}
	}
}
#wpadminbar .ab-icon, #wpadminbar .ab-item:before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
  font-family: dashicons!important;
}

/// Admin Bar

/* Admin Bar */

#wpadminbar {
	color: @md_white;
	background: @barBG;
	-webkit-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.25), 5px 0px 10px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.25), 5px 0px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.25), 5px 0px 10px rgba(0, 0, 0, 0.22);
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
	color: @md_white;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
	color: @md_white;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: @md_white;
	background: lighten( @menuBG, 10% );
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: @md_white;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
	color: @md_white;
}


/* Admin Bar: submenu */

#wpadminbar .menupop .ab-sub-wrapper {
	background: lighten( @menuBG, 10% );
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: lighten( @menuBG, 10% );
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: @md_white;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
	color: @md_white;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: @md_white;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
	color: @md_white;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: @md_white;
}


/* Admin Bar: search */

#wpadminbar #adminbarsearch:before {
	color: @menu-icon;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: @menu-text;
	background: @adminbar-input-background;
}

/* Admin Bar: my account */

#wpadminbar .quicklinks li#wp-admin-bar-my-account {
	&.with-avatar > a img {
		border-color: @adminbar-avatar-frame;
		background-color: @adminbar-avatar-frame;
	  border-radius: 50%;
	  width: 18px;
	  height: 18px;
	}
	& > a.ab-item {
		line-height: 4.9;
	}
}
#wp-admin-bar-user-info .avatar {
	border-radius: 50%;
}
#wpadminbar #wp-admin-bar-user-info .display-name {
	color: @md_white;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
	color: @md_white;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: @menu-submenu-text;
}


#wpadminbar {
	height: @barHeight;
	.quicklinks .ab-empty-item, .quicklinks a, .shortlink-input {
		height: @barHeight;
		font-size: 14px;
		line-height: 4.5;
		color: @md_white;
	}
	.ab-icon, .ab-item:before, &>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
		height: @barHeight;
		font-size: 28px;
		line-height: 2;
		@media @mobile {
			height: @barHeightMobile;
		}
	}
	#wp-admin-bar-site-name>.ab-item {
		&:before {
			.dNI;
		}
	}
	#wp-admin-bar-root-default {
		padding-right: 20px;
	}
	li#wp-admin-bar-wp-logo {
		margin-right: 20px!important;
		body.aquilaFront & {
			//.dNI;
		}
		@media @mobile {
			margin-right: 0px!important;
		}
		&>.ab-item {
			padding: 0;
			background: @md_grey_800;
			@media @mobile {
				background: @md_grey_800;
			}
			.ab-icon {
				width: @sideWidth;
				padding: 0!important;
				margin: 0!important;
				.tac;
				&:before {
					.icoAquila;
					content: @aquila-aquila_full;
					font-size: 72px;
					line-height: 0.95;
					color: @primary;
					@media @mobile {
						color: @primary;
						content: @aquila-aquila;
					}
				}
				body.folded & {
					width: @sideWidthFolded;
					&:before {
						content: @aquila-aquila;
						font-size: 36px;
						line-height: 1.7;
					}
				}
				@media @tablet {
					body.auto-fold & {
						width: @sideWidthFolded;
						&:before {
							content: @aquila-aquila;
							font-size: 36px;
							line-height: 1.7;
						}
					}
				}
				@media @mobile {
					width: @sideWidthFolded;
					&:before {
						content: @aquila-aquila;
						font-size: 36px;
						line-height: 1.7;
					}
				}
			}
		}
		.ab-sub-wrapper {
			background: @baseD;
			color: @primary;
			ul li {
				.tac;
				text-transform: uppercase;
				padding: 2px 0px;
				line-height: 2;
				a {
					color: @primary;
				}
			}
			.ab-sub-secondary {
				background: lighten( @baseD, 10% );
				li a {
					color: @md_white;
				}
			}
		}
	}
	#wp-admin-bar-adminTitle {
		.ab-item {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			background: @primary;
			color: @md_grey_900;
		}
	}
	li.screenLink {
		float: right;
		.ab-item {
			&:before {
				.fontAwesome;
				.fa_eye;
				font-size: 20px;
				line-height: 2.8;
				margin: 0;
			}
			&.active {
				background: @md_grey_800;
			}
			&:hover {
				cursor: pointer;
			}
		}
		&#wp-admin-bar-screenOptions {
			.ab-item:before {
				.fa_eye;
			}
		}
		&#wp-admin-bar-contextHelp {
			.ab-item:before {
				.fa_question_circle;
			}
		}
	}
}

// Screen Links

#screen-meta-links {
	display: none!important;
}
