@import "vars.less";
@import "/../icons/faVars.less";
@import "/../icons/variables.less";
@import "mdColours.less";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

@desktop:   ~"only screen and (min-width: 1025px)";
@laptop:   ~"only screen and (max-width: 1024px)";
@tablet:   ~"only screen and (max-width: 960px)";
@mobile:   ~"only screen and (max-width: 782px)";
@mobileSmall:   ~"only screen and (max-width: 600px)";

@sideWidth: 250px;
@sideWidthFolded: 60px;
@barHeight: 65px;

.mdShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.mdShadowHover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/// WP Admin global

html.wp-toolbar {
	padding-top: @barHeight;
	@media @mobile {
		padding-top: 46px;
	}
	@media @mobileSmall {
		padding-top: 0px;
	}
	body.wp-admin {
		.sans;
		#wpcontent {
			#wpbody {
				h1, h2, h3, h4, h5, h6 {
					text-transform: uppercase;
					font-weight: 300;
					.sans;
				}
				#screen-meta-links {
					display: none!important;
				}
			}
			.wrap {
				h1.wp-heading-inline, .page-title-action, h1:first-child {
					//display: none;
					@media @mobile {
						display: inline-block;
					}
				}
			}
		}
		.wp-responsive-open #wpbody {
			@media @mobile {
				right: -@sideWidth;
			}
		}
	}
	.notice, div.error, div.updated {
		box-shadow: none;
		border: none;
		text-align: center;
		border-radius: 2px;
		a {
			font-weight: 600;
		}
		table th, table tr {
			background: none!important;
		}
		&:before {
			opacity: 0.25;
		}
		&.notice-warning {
			background: @md_yellow_200;
			color: @md_grey_900;			
		}	
		&.notice-error {
			background: @md_red_600;
			color: @md_white;
			a {
			}
		}	
		&.notice-success, &.updated {
			background: @md_green_600;
			color: @md_white;
			&.woocommerce-message {
				background: #9c5d90;
				color: @md_white;
				p {
					.tac;
				}
				.woocommerce-message-close,
				.notice-dismiss,
				.notice-dismiss:before {
					color: @md_white;
				}
			}
		}	
		.notice-dismiss {
			opacity: 0.8;
			.trans;
			&:hover {
				opacity: 1;
			}
			&:before {
				color: @md_white;
			}
		}
	}
	#contextual-help-wrap, #screen-options-wrap {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
}

// WP Core UI

.wp-core-ui, body.wp-admin {
	.button, .button-primary, .button-secondary, .add-new-h2, .add-new-h2:active, .page-title-action, .page-title-action:active {
    -webkit-border-radius: 0px;
    border-radius: 0;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 2.3;
    border: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    .trans;
    &.wpo_primary_big {
    	line-height: initial;
    }
  }
  .add-new-h2, .page-title-action {
  	&, &:active {
	  	padding: 6.5px 8px;
	  	line-height: 1;
	  }
	  &.cpac-edit {
	  	margin-top: -2px;
	  }
  }
}
.wp-core-ui {
  input[type=text], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
    background: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid transparent;
    .trans;
		&:hover, &:active, &:target, &:focus {
			.mdShadow;
		}
	}
  input[type=radio], input[type=checkbox] {
    background: none;
    box-shadow: none;
    .trans;
		&:hover, &:active, &:target, &:focus {
			.mdShadow;
		}
	}
}

/* _admin.scss */

body.wp-admin {
	#dashboard-widgets-wrap {
		padding-bottom: 20px;
		overflow: visible;
	}
}

/* Links */

a {
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
	}
}


/* Forms */

input[type=checkbox]:checked:before {
	margin: -14px 0 0 -12px;
	font-size: 40px;
}

input[type=radio]:checked:before {
	width: 14px;
	height: 14px;
	margin: 0px;
	.trans;
}

/* Theme Browser */

.theme-browser {
	.theme.add-new-theme {
		a {
			.trans;
			&:after {
				.trans;
			}
		}
	}
}

/* Admin Menu */

#adminmenuback {
	box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.25), 5px 0px 10px rgba(0, 0, 0, 0.22);
}

/* Admin Menu: submenu */

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

/* Admin Menu: bubble */

#adminmenu {
	* {
	}
	.awaiting-mod,
	.update-plugins {
		position: absolute;
		line-height: 2;
	  margin: 0;
	  left: 30px;
	  bottom: 5px;
	  border-radius: 4px;
	  text-align: center;
    body.folded &,
    body.auto-fold & {
    }
	  .plugin-count {
			padding: 0px 4px 0px 5px;
			font-size: 10px;
			line-height: 1.8;
	    font-weight: 300;
	    body.folded &,
	    body.auto-fold & {
	    	padding: 0px 4px;
	    }
	  }
	}
  .wp-submenu {
		.awaiting-mod,
		.update-plugins {
	  	left: initial;
	    bottom: initial;
	    margin-left: 10px;
	    margin-top: -1px;
	  }
  }
}
.details.attachment {
	box-shadow:
		inset 0 0 0 3px #fff,
}
.wp-responsive-open div#wp-responsive-toggle a {
	// ToDo: make inset border
	border-color: transparent;
}

/// Admin Menu

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	width: @sideWidth;
	body.folded & {
		width: @sideWidthFolded;
	}
	@media @tablet {
		body.auto-fold &, body.auto-fold & li.menu-top {
			width: @sideWidthFolded;
		}
	}
	@media @mobile {
		body.auto-fold &, body.auto-fold & li.menu-top, body & {
			width: @sideWidth;
		}
	}
}
#wpwrap {
	#wpcontent, #wpfooter {
		margin-left: @sideWidth;
		body.folded & {
			margin-left: @sideWidthFolded;
		}
		@media @tablet {
			body.auto-fold & {
				margin-left: @sideWidthFolded;
			}
		}
		@media @mobile {
			body.auto-fold &, body & {
				margin-left: 0px;
			}
		}
	}
}
ul#adminmenu {
	li.menu-top {
		min-height: 44px;
		.trans;
	}
	.wp-not-current-submenu .wp-submenu, 
	body.folded & .wp-has-current-submenu .wp-submenu {
		min-width: @sideWidth;
	}
	.wp-submenu {
		left: @sideWidth;
	}
	#collapse-button {
		height: auto;
		.trans;
		.collapse-button-icon {
			width: @sideWidthFolded;
			padding-top: 10px;
			padding-bottom: 10px;
			position: relative;
		}
		.collapse-button-label {
			padding-left: @sideWidthFolded;
			text-transform: uppercase;
			letter-spacing: 2px;
	    padding-top: 10px;
	    padding-bottom: 10px;
		}
	}
	a:after,
	li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
		border: none!important;
	}
	div.wp-menu-name {
		padding: 12px 10px 12px 0px;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.5;
		font-size: 13px;
	}
	div.wp-menu-image {
    width: @sideWidthFolded;
    height: 42px;
    text-align: center;
    &:before {
    	font-size: 24px;
    	line-height: 1.3;
    	width: 100%;
    }
		@media @tablet {
			body.auto-fold & {
				width: @sideWidthFolded;
				height: 42px;
			}
		}
		@media @mobile {
			body.auto-fold &, body & {
				width: @sideWidthFolded - 20;
			}
		}
	}
	div.wp-menu-name {
		@media @mobile {
			body.auto-fold &, body & {
				margin-left: @sideWidthFolded - 20;
			}
		}
	}
	.wp-submenu .wp-submenu-head {
    line-height: 2;
    text-transform: uppercase;
		body.folded & {
	    height: 28px;
	    padding-left: 20px;
	  }
  }
	@media @tablet {
		body.auto-fold & a.menu-top {
			width: @sideWidthFolded;
			height: 42px;
		}
		body.auto-fold & {
			li#collapse-menu {
				//display: none;
			}
			.opensub .wp-submenu, 
			.wp-has-current-submenu .wp-submenu.sub-open, 
			.wp-has-current-submenu a.menu-top:focus+.wp-submenu, 
			.wp-has-current-submenu.opensub .wp-submenu, 
			.wp-submenu.sub-open, 
			a.menu-top:focus+.wp-submenu {
				left: @sideWidthFolded;
			}
		}
	}
	@media @mobile {
		body.auto-fold & a.menu-top, body & a.menu-top {
			width: @sideWidth - 10;
			height: auto;
		}
		body.auto-fold &, body & {
			li#collapse-menu {
				display: none;
			}
			.opensub .wp-submenu, 
			.wp-has-current-submenu .wp-submenu.sub-open, 
			.wp-has-current-submenu a.menu-top:focus+.wp-submenu, 
			.wp-has-current-submenu.opensub .wp-submenu, 
			.wp-submenu.sub-open, 
			a.menu-top:focus+.wp-submenu {
				left: -1px;
			}
		}
	}
	li#collapse-menu {
		padding: 10px 0;
    margin-top: 10px;
		.trans;
		&:hover, &:focus {
		}
		#collapse-button .collapse-button-icon:after {
			font-size: 26px;
    	line-height: 1.1;
    	width: 100%;
		}
	}
	body.folded & a.menu-top {
		height: 42px;
	}
	.wp-has-current-submenu ul>li>a, 
	body.folded & li.menu-top .wp-submenu>li>a {
		padding-left: 20px;
	}
}

body.folded {
	#adminmenu, #adminmenu li.menu-top, #adminmenuback, #adminmenuwrap, #adminmenu div.wp-menu-image {
		width: @sideWidthFolded;
		@media @mobile {
			width: @sideWidth;
		}
	}
	#adminmenu .opensub .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu .wp-submenu.sub-open, #adminmenu a.menu-top:focus+.wp-submenu, &.no-js #adminmenu .wp-has-submenu:hover .wp-submenu {
		left: @sideWidthFolded;
		@media @mobile {
			left: 0px;
		}
	}
}



/// Dashboard

body.wp-admin {
	.postbox, .stuffbox {
		border: none;
		border-radius: 3px;
		.mdShadow;
		&:hover, &:active, &:target, &:focus {
			.mdShadowHover;
		}
		.hndle {
			border-bottom: none;
		}
		& > h2, & > h3 {
			font-size: 18px;
			line-height: 2;
			font-weight: 300;
			font-family: inherit;
		}
		&#welcome-to-aquila {
			ul {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				li {
					width: 40%;
					padding: 5%;
					text-align: center;
					i {
				    font-size: 40px;
				    width: 100%;
				    display: block;
				    text-align: center;
				    margin-bottom: 10px;
					}
				}
			}
		}
	}
	#update-nag, .update-nag {
    border: none;
    box-shadow: none;
	}
}

/// Footer

#wpfooter {
	#footer-upgrade {
		display: none;
	}
	#footer-left {
		display: block;
		width: 100%;
		text-align: center;
		.mitoLink {
			text-align: center;
			text-decoration: none!important;
			width: auto;
			display: inline-block;
			.trans;
			&:hover, &:focus {
			}
		}
	}
}

// Admin Menu Icons
// FA Icons

#adminmenu {
	#toplevel_page_wpseo_dashboard, 
	#toplevel_page_mailchimp-for-wp,
	#toplevel_page_all-in-one-seo-pack-aioseop_class, 
	#menu-posts, 
	#menu-media,
	#menu-comments, 
	#toplevel_page_wysija_campaigns, 
	#toplevel_page_edit-post_type-acf-field-group, 
	#toplevel_page_pmxe-admin-home, 
	#toplevel_page_pmxi-admin-home, 
	#toplevel_page_bws_plugins, 
	#toplevel_page_bws_panel,
	#toplevel_page_metaslider, 
	#toplevel_page_aiowpsec, 
	#toplevel_page_CF7DBPluginSubmissions, 
	#toplevel_page_duplicator, 
	#toplevel_page_nextgen-gallery, 
	#toplevel_page_w3tc_dashboard, 
	#toplevel_page_WP-Optimize, 
	#toplevel_page_wptouch-admin-general-settings, 
	#toplevel_page_wpseo_dashboard, 
	#toplevel_page_wpseo_dashboard, 
	#toplevel_page_yst_ga_extensions,
	#menu-posts-cookielawinfo,
	#toplevel_page_us-theme-options,
	#toplevel_page_yit_plugin_panel,
	#toplevel_page_vc-general,
	#toplevel_page_site-migration-export,
	#toplevel_page_edit-post_type-acf,
	#toplevel_page_loginizer,
	#toplevel_page_galleries_bwg,
	#toplevel_page_addons_bwg,
	#toplevel_page_Wordfence,
	#toplevel_page_wp-clone,
	#toplevel_page_wp-google-maps-menu,
	#toplevel_page_WP-Optimize,
	#toplevel_page_maintenance,
	#toplevel_page_clef,
	#toplevel_page_simple-woocommerce-csv-loader-admin-CSVLoader {
		.wp-menu-image {
			background: none!important;
			&:before {
				.menuFA;
				font-size: 20px;
				line-height: 1.5;
				background: none!important;
			}
			img {
				display: none!important;
			}
		}
	}
}

.wp-menu-image {
	&:before {
		#adminmenu #menu-posts & {
			.fa_pencil;
		}
		#adminmenu #menu-media & {
			.fa_picture_o;
		}
		#adminmenu #menu-comments & {
			.fa_comments;
		}
		#adminmenu #toplevel_page_wpseo_dashboard & {
			.fa_yoast;
			line-height: 2.3;
		}
		#adminmenu #toplevel_page_mailchimp-for-wp & {
			.fa_send;
		}
		#adminmenu #toplevel_page_all-in-one-seo-pack-aioseop_class &,
		#adminmenu #toplevel_page_Wordfence &,
		#adminmenu #toplevel_page_aiowpsec & {
			.fa_shield!important;
		}
		#adminmenu #toplevel_page_wysija_campaigns & {
			.fa_meanpath;
		}
		#adminmenu #toplevel_page_edit-post_type-acf-field-group & {
			.fa_check_square;
		}
		#adminmenu #toplevel_page_pmxe-admin-home & {
			.fa_undo;
		}
		#adminmenu #toplevel_page_pmxi-admin-home & {
			.fa_repeat;
		}
		#adminmenu #toplevel_page_bws_plugins &, 
		#adminmenu #toplevel_page_bws_panel & {
			.fa_bold;
		}
		#adminmenu #toplevel_page_metaslider & {
			.fa_angle_double_up!important;
		}
		#adminmenu #toplevel_page_CF7DBPluginSubmissions & {
			.fa_database;
		}
		#adminmenu #toplevel_page_duplicator & {
			.fa_share_alt;
			line-height: 2.3;
		}
		#adminmenu #toplevel_page_nextgen-gallery & {
			.fa_square;
		}
		#adminmenu #toplevel_page_w3tc_dashboard & {
			.fa_cube;
		}
		#adminmenu #toplevel_page_WP-Optimize & {
			.fa_check_circle;
		}
		#adminmenu #toplevel_page_wptouch-admin-general-settings & {
			.fa_mobile;
		}
		#adminmenu #toplevel_page_yst_ga_extensions & {
			.fa_yoast;
		}
		#adminmenu #menu-posts-cookielawinfo & {
			.fa_info_circle;
		}
		#adminmenu #toplevel_page_us-theme-options & {
			display: block;
			.fa_diamond;
		}
		#adminmenu #toplevel_page_yit_plugin_panel & {
			.fa_hacker_news;
		}
		#adminmenu #toplevel_page_vc-general & {
			.fa_cubes;
		}
		#adminmenu #toplevel_page_site-migration-export & {
			.fa_undo;
			line-height: 1.6!important;
		}
		#adminmenu #toplevel_page_edit-post_type-acf & {
			.fa_align_left;
		}
		#adminmenu #toplevel_page_loginizer & {
			.fa_lock;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_addons_bwg & {
			.fa_camera_retro;
		}
		#adminmenu #toplevel_page_wp-clone & {
			.fa_clone;
		}
		#adminmenu #toplevel_page_wp-google-maps-menu & {
			.fa_map;
		}
		#adminmenu #toplevel_page_WP-Optimize & {
			.fa_check_circle;
			line-height: 2.3;
		}
		#adminmenu #toplevel_page_itsec & {
			font-size: 18px;
			line-height: 1.5;
		}
		#adminmenu #toplevel_page_yst_ga_dashboard & {
			padding: 0;
			font-size: 18px;
			line-height: 2.3;
		}
		#adminmenu #toplevel_page_tablepress & {
		}
		#adminmenu #toplevel_page_jetpack & {
			//line-height: 1.4;
		}
		#adminmenu #toplevel_page_maintenance & {
			.fa_wrench;
		}
		#adminmenu #toplevel_page_clef & {
			.fa_signal;
		}
		#adminmenu #toplevel_page_backwpup & {
			padding-top: 10px;
		}
		#adminmenu #toplevel_page_simple-woocommerce-csv-loader-admin-CSVLoader & {
			.fa_upload;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_galleries_bwg & {
			.fa_camera;
		}
		#adminmenu #toplevel_page_wpcf-cpt &,
		#adminmenu #toplevel_page_toolset-dashboard &,
		#adminmenu #toolset_page_dd_layouts &,
		#adminmenu #toplevel_page_dd_layouts &,
		#adminmenu #toplevel_page_embedded-views &,
		#adminmenu #toplevel_page_views &,
		#adminmenu #toplevel_page_ModuleManager_Modules &,
		#adminmenu #toplevel_page_CRED_Forms &,
		#adminmenu #toplevel_page_wpcf &,
		#adminmenu #toplevel_page_types_access &,
		#adminmenu #toplevel_page_CRED_Commerce &,
		#adminmenu #toplevel_page_toolset-packager &,
		#adminmenu #toplevel_page_toolset-settings & {
	    font-size: 18px!important;
	    width: auto;
	    padding: 0;
	    line-height: 2.3;
		}
	}
}

// Aquila Icons

#adminmenu {
	#menu-dashboard {
		.wp-menu-image {
			background: none!important;
			&:before {
				//.icoAquila;
			}
			img {
				display: none!important;
			}
		}
	}
}

#collapse-button {
	div:after {
		.fontAwesome;
		content: '\f100';
	}
}

/// Theme & Plugin Support

body.wp-admin {

	// Admin Menu Editor

	#ws_menu_editor .ws_main_button {
		width: 180px;
	}

	// Advanced Custom Fields

	.acf-button {
		border-radius: 0;
	}

	// Akismet

	.akismet_activate {
		text-align: left;
	}

	// Admin Columns (CodePress)

	.cpac-column .column-meta table {
	}
	.cpac-column.opened .column-meta table {
	}
	.cpac_message {
		.dNI;
	}

	// All in One SEO Pack

	#aiosp_settings_form {
		h2.hndle a {
			line-height: initial;
		}
	}

	// All in One WP Migration

	.wp-menu-open.toplevel_page_site-migration-export, 
	.wp-menu-open.toplevel_page_site-migration-export > a {
	}

	// All in One WP Security

	.aio_orange_box {
		border: none;
	  padding: 1% 3%;
	}

	// Google Analytics

	.wrap.ga-wrap {
		margin-right: 20px!important;
	}

	// Jetpack

	#loginform #jetpack-sso-wrap, #loginform .jetpack-sso-clear {
		width: 320px;
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
  }

	// Next Gen Gallery

	.wp-media-buttons img {
		margin-right: 8px;
	}

	// Press This

	.pressthis-js-toggle .dashicons {
	}

	// Relevanssi
	// Reduce advertising amount

	#relevanssi_buy,
	#relevanssi_list,
	#relevanssi_premium,
	#relevanssi_facebook,
	#relevanssi_help {
		.dNI;
	}

	// SB Instagram

	.sb_instagram_notice {
	  border: none;
	  border-radius: 0;
	  color: inherit;
	  a {
	  	color: inherit;
	  }
	}
	.sbi_review_notice {
		.dNI;
	}

	// Smush

	.wrap .smush-notice.notice, .wrap .frash-notice.notice {
		&, & div {
			border: none;
			box-shadow: none;
			font: inherit;
			border-radius: 0!important;
		}
	}

	// UpDraft Plus

	.updraft-bigbutton {
		font-size: inherit!important;
	}

	// Visual Composer

	.vc_subnav-fixed {
		top: @barHeight;
		padding-left: @sideWidth;
	}
	&.folded .vc_subnav-fixed {
		padding-left: @sideWidthFolded;
	}
	.vc_license-activation-notice {
		display: none!important;
	}

	// WooCommerce

	#woocommerce_dashboard_status .wc_status_list li a::before {
		height: auto!important;
	}
	td.product_type.column-product_type {
		opacity: 1;
		.product-type {
			&:before {
				content: "S";
				font-family: inherit;
				font-size: 70%;
				font-weight: 700;
				padding: 4px 0;
			}
			&.simple {
				&:before {
					content: "S";
				}
			}
			&.variable {
				&:before {
					content: "V";
				}
			}
			&.downloadable {
				&:before {
					content: "D";
				}
			}
			&.bundle {
				&:before {
					content: "B";
				}
			}
		}
	}

	// WP All Import

	.wpallimport-wrapper {
		width: 100%;
	}

	// WP Optimize

	.wp-optimize-nav-tab-contents .postbox .inside {
		padding-top:  2px;
	}
	.wp-core-ui	.button.wpo_primary_big {
		line-height: initial;
	}


	// Zephyr

	.usof-header {
		top: 65px;
		left: 250px;
	}
	.us-hb-screenlock {
		display: none!important;
	}

}

// Aquila Settings Page

form.aquilaSettingsPage {
	table {
		tr {
			th {
				font-weight: 300;
			}
			a.button {
				float: left;
				clear: left;
				margin: 0 10px 10px 0;
			}
			img.aquilaOptionsLogo {
				width: auto;
				max-height: 46px;
				display:inline-block;
				padding: 10px;
				&[src="none"] {
			    display: none!important;
				}
			}
		}
	}
}

// Colour Picker

.wp-picker-container .iris-picker {
  padding-bottom: 75px!important;
  .iris-palette-container {
    width: 74%;
    .iris-palette {
	    width: 28px!important;
	    height: 28px!important;
	    margin-right: 5px;
	    margin-top: 10px;
	    margin-left: 0!important;
		}
	}
}


// Temp fixes 

.media-frame.mode-grid .media-toolbar {
	height: 50px;
}
.media-frame .attachments-browser {
	overflow: scroll;
}