// Variables and Mixins - Guy Primavera

// Colours

@c2:			#5c4e22;
@red:			#B71C1C;
@grey1:		#111111;
@b0:			#000;
@b1:			#111;
@b2:			#222;
@b3:			#333;
@b4:			#444;
@b5:			#555;
@b6:			#666;
@b7:			#777;
@b8:			#888;
@b9:			#999;
@w:				#fff;
@ba:			#aaa;
@bb:			#bbb;
@bc:			#ccc;
@bd:			#ddd;
@be:			#eee;
@bf3:			#f3f3f3;
@b01:			rgba(0, 0, 0, 0.1);
@b02:			rgba(0, 0, 0, 0.2);
@b03:			rgba(0, 0, 0, 0.3);
@b04:			rgba(0, 0, 0, 0.4);
@b05:			rgba(0, 0, 0, 0.5);
@b06:			rgba(0, 0, 0, 0.6);
@b07:			rgba(0, 0, 0, 0.7);
@b08:			rgba(0, 0, 0, 0.8);
@b09:			rgba(0, 0, 0, 0.9);

.fontAwesome { font-family: "fontAwesome"!important; }
.menuFA { font-family: "fontAwesome" !important;font-size: 16px;margin-top: 0px;float: left; line-height: 1.3; }
.serif { font-family: 'Merriweather', serif!important; }
.sans { font-family: 'Raleway', sans-serif!important; }
.bgCov { background-size: cover; background-position: center center; background-repeat: repeat; }
.icoAquila { font-family: "Aquila" !important; content: "\a002"; font-size: 20px; line-height: 1; }


// Text

.fS0 {
	font-size: 18px;
}
.fS1 {
	font-size: 16px;
}
.fS2 {
	font-size: 14px;
}
.fS3 {
	font-size: 12px;
}
.tac {
	text-align: center;
}
/* Positioning */

.abs {
	position: absolute;
}
.absFull {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.fix {
	position: fixed;
}
.rel {
	position: relative;
}
.dB {
	display: block;
}
.dI {
	display: inline-block;
}
.dN {
	display: none;
}
.dNI {
	display: none!important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z50 {
	z-index: 50;
}
.z60 {
	z-index: 60;
}
.z999 {
	z-index: 999;
}

/* Widths & Heights */

.w0 {
	width: 0%;
}
.w25 {
	width: 25%;
}
.w50 {
	width: 50%;
}
.w75 {
	width: 75%;
}
.w100 {
	width: 100%;
}
.mw100 {
	max-width: 100%;
}
.h0 {
	height: 0%;
}
.h25 {
	height: 25%;
}
.h50 {
	height: 50%;
}
.h75 {
	height: 75%;
}
.h100 {
	height: 100%;
}
.mh100 {
	max-height: 100%;
}

/* Other */

.borderBox {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.trans {
	transition: 0.2s all linear; 
	-webkit-transition: 0.2s all linear; 
	-moz-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
}

// https://css-tricks.com/snippets/css/useful-css3-less-mixins/ (Chris Coyier)

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}