/* LESS Elements 0.9 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');
.fontAwesome {
  font-family: "fontAwesome" !important;
}
.menuFA {
  font-family: "fontAwesome" !important;
  font-size: 18px;
  line-height: 1.6;
}
.sans {
  font-family: 'Roboto', sans-serif !important;
}
.heading {
  font-family: 'Roboto', sans-serif;
}
.bgCov {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
}
.icoAquila {
  font-family: 'Aquila' !important;
  content: "\a002";
}
.tac {
  text-align: center;
}
.va {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.abs {
  position: absolute;
}
.absFull {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.fix {
  position: fixed;
}
.rel {
  position: relative;
}
.dN {
  display: none;
}
.dNI {
  display: none!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z10 {
  z-index: 10;
}
.z99 {
  z-index: 99;
}
.z999 {
  z-index: 999;
}
/* Widths & Heights */
.w0 {
  width: 0%;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w75 {
  width: 75%;
}
.w100 {
  width: 100%;
}
.mw100 {
  max-width: 100%;
}
.h0 {
  height: 0%;
}
.h25 {
  height: 25%;
}
.h50 {
  height: 50%;
}
.h75 {
  height: 75%;
}
.h100 {
  height: 100%;
}
.mh100 {
  max-height: 100%;
}
/* Other */
.borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trans {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
}
.transNone {
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -o-transition: none!important;
}
